@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Login";
}

@section scripts{
    <script type="text/javascript" src="~/scripts/login.js"></script>
}

<div id="loginBoxContainer" class="center-block"></div>
<div id="loginBox" class="center-block text-center">
    <form id="frmLogin" action="~/account/login" method="post">
        <br />
        <br />
        <img src="~/images/logo1.jpg" class="logo1 center-block" />
        <h4 class="text-center">Best Bookkeeping App On The Net</h4>
        <br />
        <div id="msgBox">
            @if (TempData["msg"] != null)
            {
                <span class="red bold">@TempData["msg"]</span>
            }
            else
            {
                <text>&nbsp;</text>
            }
        </div>
        <br />
        <br />
        <div><input type="text" placeholder="email" class="textbox1" name="UserName" /><a href="~/account/forgotuser" data-toggle="tooltip" title="forgot username" class="btn btn-lg question-link glyphicon glyphicon-question-sign pull-right"></a></div>
        <br />
        <br />
        <br />
        <div><input type="password" placeholder="password" class="textbox1" name="Password" /><a href="~/account/forgotpass" data-toggle="tooltip" title="forgot password" class="btn btn-lg question-link glyphicon glyphicon-question-sign pull-right"></a></div>
        <br />
        <br />
        <div class="blueTransBack1">
            <input type="submit" value="SIGN IN" class="button1" />
        </div>
        <br />
        <div>
            <a href="~/account/signup" class="link1">Don't have an account? SIGN UP</a>
        </div>
    </form>
</div>