@{
    ViewBag.Title = "Setup Your Account";
}

<div class="text-center">

<h3>ARE YOU A</h3>
<br />
<br />
<a href="/account/setupadmin/" class="whiteCircle1 text-center center-block"><br /><br /><br /><h3>Store Owner</h3></a>
<br />
<br />
<a href="/account/setupuser?manager=1/" class="whiteCircle1 text-center center-block"><br /><br /><br /><h3>Manager</h3></a>
<br />
<br />
<a href="/account/setupuser/" class="whiteCircle1 text-center center-block"><br /><br /><br /><h3>Technician?</h3></a>

</div>