@{
    string[] currUserRoles = Roles.GetRolesForUser(WebSecurity.CurrentUserName);
    string entryPg = currUserRoles.Contains("Technician") ? "indsalesentry" : "storesalesentry";
    string expPg = currUserRoles.Contains("Technician") ? "indexpentry" : "storeexpentry";
    string rptPg = currUserRoles.Contains("Technician") ? "indsales" : "storesales";
}

<div id="divFooter" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid nopad">
        <div class="row-fluid">
            <div class="col-xs-3 text-center footer-btn-back1 white" style="border-right:solid 1px #00bfe1;"><span data-url="../../home/sales/" class="glyphicon glyphicon-usd footer-icon btn"></span><br />sales</div>
            <div class="col-xs-3 text-center footer-btn-back1 white" style="border-right:solid 1px #00bfe1;"><span data-url="../../home/expenses/" class="glyphicon glyphicon-minus footer-icon btn"></span><br />expenses</div>
            <div class="col-xs-3 text-center footer-btn-back1 white" style="border-right:solid 1px #00bfe1;"><span data-toggle="modal" data-target="#modal_menu_list_payouts" class="glyphicon glyphicon-usd footer-icon btn"></span><br />payouts</div>
            <div class="col-xs-3 text-center footer-btn-back1 white"><span data-toggle="modal" data-target="#modal_menu_list_reports" class="glyphicon glyphicon-stats footer-icon btn"></span><br />reports</div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_menu_list_payouts" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body nopad nomargin">
                <div class="list-group nopad nomargin">
                    <span data-url="../../payouts/paychecks" class="list-group-item btn btn-sm"><span class="glyphicon glyphicon-usd"></span> my paychecks</span>
                    <span data-url="../../payouts/paycheckstopay" class="list-group-item btn btn-sm"><span class="glyphicon glyphicon-usd"></span> paychecks paid out</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_menu_list_reports" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body nopad nomargin">
                <div class="list-group nopad nomargin">
                    <span data-url="../../reports/sales" class="list-group-item btn btn-sm"><span class="glyphicon glyphicon-stats"></span> sales report</span>
                    <span data-url="../../reports/tips" class="list-group-item btn btn-sm"><span class="glyphicon glyphicon-stats"></span> tips report</span>
                    <span data-url="../../reports/expense" class="list-group-item btn btn-sm"><span class="glyphicon glyphicon-stats"></span> expense report</span>
                    <span data-url="../../reports/commissions" class="list-group-item btn btn-sm"><span class="glyphicon glyphicon-stats"></span> commissions report</span>
                    <span data-url="../../reports/salary" class="list-group-item btn btn-sm"><span class="glyphicon glyphicon-stats"></span> salary report</span>
                    <span data-url="../../reports/payouts" class="list-group-item btn btn-sm"><span class="glyphicon glyphicon-stats"></span> payouts report</span>
                    <span data-url="../../reports/taxes" class="list-group-item btn btn-sm"><span class="glyphicon glyphicon-stats"></span> tax report</span>
                </div>
            </div>
        </div>
    </div>
</div>