#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}