#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}