#s-5193f933-ce64-451e-8fa8-eef083d92bac {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Background {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Menu_item_1 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Menu_item_2 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Menu_item_3 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Menu_item_4 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Menu_item_5 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Button_1 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Button_2 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Button_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5193f933-ce64-451e-8fa8-eef083d92bac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}