#s-69670012-be2f-472d-b56a-a6748d20c1be {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Background {
  -pie-background: url('./images/dab0b6a4-6558-4b85-967c-6a54dd6d8322.jpg') repeat-y top left scroll, linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Menu_item_1 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Menu_item_2 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Menu_item_3 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Menu_item_4 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Menu_item_5 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Button_1 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Button_2 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Button_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-69670012-be2f-472d-b56a-a6748d20c1be #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-69670012-be2f-472d-b56a-a6748d20c1be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}