#s-704afe8d-e29f-4220-977e-cefdc92b8ddd {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Menu_item_1 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Menu_item_2 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Menu_item_3 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Menu_item_4 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Menu_item_5 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Button_1 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Button_2 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Button_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-704afe8d-e29f-4220-977e-cefdc92b8ddd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}