#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}