#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Background {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Menu_item_1 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Menu_item_2 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Menu_item_3 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Menu_item_4 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Menu_item_5 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Button_1 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Button_2 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Button_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Input_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  filter: alpha(opacity=66);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Input_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  filter: alpha(opacity=66);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Float-button-light {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=51);
  filter: alpha(opacity=51);
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cd2bec41-ae4b-4e8d-995b-629af628ec6f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}