#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Background {
  -pie-background: url('./images/dab0b6a4-6558-4b85-967c-6a54dd6d8322.jpg') repeat-y top left scroll, linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Menu_item_1 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Menu_item_2 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Menu_item_3 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Menu_item_4 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Menu_item_5 {
  height: 30px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Button_1 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Button_2 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Button_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f1acddb1-ad1f-4fe1-96df-849d25cb69dc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}