#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e > #backgroundBox {
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#6ACCCB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#6ACCCB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#6ACCCB));
  background-image: -o-linear-gradient(top,#FFFFFF,#6ACCCB);
  background-image: linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  position: absolute;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  background-color: #FFFFFF;
  background-repeat: repeat-y;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/dab0b6a4-6558-4b85-967c-6a54dd6d8322.jpg'), -moz-linear-gradient(top,#FFFFFF,#6ACCCB);
  background-image: url('../../images/dab0b6a4-6558-4b85-967c-6a54dd6d8322.jpg'), -webkit-linear-gradient(top,#FFFFFF,#6ACCCB);
  background-image: url('../../images/dab0b6a4-6558-4b85-967c-6a54dd6d8322.jpg'), -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#6ACCCB));
  background-image: url('../../images/dab0b6a4-6558-4b85-967c-6a54dd6d8322.jpg'), -o-linear-gradient(top,#FFFFFF,#6ACCCB);
  background-image: url('../../images/dab0b6a4-6558-4b85-967c-6a54dd6d8322.jpg'), linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Background .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Background span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Background span#rtr-s-Background_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-input_password {
  position: absolute;
  top: 476px;
  left: 0px;
  width: 360px;
  height: 32px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 355px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_2 input {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 360px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #shapewrapper-s-Line_4 {
  display: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-input_email {
  position: absolute;
  top: 433px;
  left: 0px;
  width: 360px;
  height: 32px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 355px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_3 input {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 360px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #shapewrapper-s-Line_6 {
  display: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Image_2 {
  position: absolute;
  top: 52px;
  left: 97px;
  width: 166px;
  height: 156px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Rectangle_2 {
  position: absolute;
  top: 587px;
  left: 0px;
  width: 356px;
  height: 56px;
  background-color: #6624FB;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_2 {
  position: absolute;
  top: 602px;
  left: 75px;
  width: 214px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-input_password_1 {
  position: absolute;
  top: 517px;
  left: 0px;
  width: 360px;
  height: 32px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 355px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_4 input {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_7 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_8 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 360px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #shapewrapper-s-Line_8 {
  display: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_3 {
  position: absolute;
  top: 243px;
  left: 11px;
  width: 337px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_3 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_4 {
  position: absolute;
  top: 272px;
  left: 0px;
  width: 360px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_4 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Text_4 span#rtr-s-Text_4_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-input_email_1 {
  position: absolute;
  top: 349px;
  left: 0px;
  width: 360px;
  height: 32px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 355px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_5 input {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_9 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_10 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 360px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #shapewrapper-s-Line_10 {
  display: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-input_email_2 {
  position: absolute;
  top: 391px;
  left: 0px;
  width: 360px;
  height: 32px;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 355px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Input_6 input {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_11 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #s-Line_12 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 360px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e #shapewrapper-s-Line_12 {
  display: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3c6c0785-b66a-4422-b719-d40ffcc1b06e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}