#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Background {
  -pie-background: url('./images/dab0b6a4-6558-4b85-967c-6a54dd6d8322.jpg') repeat-y top left scroll, linear-gradient(to bottom,#FFFFFF,#6ACCCB);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -ms-transform: rotate(0.0deg);
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-74f2b088-a6fe-4d17-b5bc-66a2581f0cfc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}